<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lunch Time Manager 管理画面{% endblock %}</title>

    <link rel="stylesheet" href="{{ css_root }}/admin_base.css">

    {% block page_css %}{% endblock %} 
</head>
<body>
    <div id="main-content">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ js_root }}/common.js"></script> 
    {% block page_js %}{% endblock %}
</body>
</html>